<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@@title</title>
    <link rel="stylesheet" href="./styles/general.css" />
    <link rel="stylesheet" href="./styles/@@style.css" />
  </head>

  <body>
    <div class="site-wrapper">
      <header class="header">
        <div>Header block</div>

        <nav>
          <ul>
            <li>
              <a href="index.html"> Main page </a>
            </li>

            <li>
              <a href="about.html"> About page </a>
            </li>

            <li>
              <a href="post.html"> Post page </a>
            </li>
          </ul>
        </nav>
      </header>
